{% extends 'layout.html' %}

{% block content %}
<div class="main">
  <nav>
    <a href="{{ url_for('stream_member') }}">All members</a>
    {% if session['login'] %}
      <a href="{{ url_for('stream_member_following') }}">Following</a>
      <a href="{{ url_for('stream_member_follower') }}">Followers</a>
    {% endif %}
  </nav>
</div>
{% for user in stream|reverse %}
  <article>
    <a href="{{ url_for('stream', user_id = user_id_fetch_by_name(user)) }}">@{{ user }}</a>
    {% if session['login'] %}
        {% if user != session['username'] %}
          {% if user in following_list(session['user_id']) %}
            <a href="{{ url_for('unfollow', user_id = user_id_fetch_by_name(user)) }}" class="small" style="float: right; color: red">Un-Follow</a>
          {% else %}
            <a href="{{ url_for('follow', user_id = user_id_fetch_by_name(user)) }}" class="small" style="float: right; color: green">Follow</a>
            {% endif %}
        {% endif %}
    {% endif %}
  </article>
{% endfor %}
{% endblock %}
