{% extends 'layout.html' %}

{% block content %}
{% for post in stream %}
    <article>
        <h2>
            <a href="{{ url_for('stream', username = post.user.username) }}">{{ post.user.username }}</a>
        </h2>
        <div class="post">
            {% if use == 1 %}
              {{ post.content }}
            {% else %}
              {% if post.content|length > 100 %}
                {{ post.content[:100] }}...
              {% else %}
                {{ post.content }}
              {% endif %}
            {% endif %}
        </div>
        <p>
          {{ post.timestamp.strftime('%d-%m-%y') }}
        </p>
        <a class="view" href="{{ url_for('view_post', post_id = post.id) }}">View More</a>
     </article>
{% endfor %}
{% endblock %}
